body {
    background-color: aqua;
}

section {
    border-radius: 10px;
    width: 750px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.form-group {
    padding: 14px;
    text-align: left;
    padding-right: 60px;
    color: darkgray;
}

h1 {
    color: cornflowerblue;
    text-transform: capitalize;
}

.major {
    color: cornflowerblue;
}

.list {
    margin-bottom: 6px;
}

.item {
    display: inline-block;
    width: 38%;
}

.icon {
    margin-right: 10px;
}

.description {
    margin-top: 20px;
    padding-left: 14px;
}



